certifi==2018.4.16
chardet==3.0.4
codecov==2.0.15
coverage==4.5.1
idna==2.6
numpy==1.14.2
opencv-python==3.4.0.12
sounddevice==0.3.10
cffi==1.11.5
pycparser==2.18
pyaudio==0.2.11
requests==2.18.4
urllib3==1.22

