backcall==0.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
codecov==2.0.15
colorama==0.3.9
coverage==4.5.1
cycler==0.10.0
decorator==4.3.0
gTTS==1.2.2
gTTS-token==1.1.1
idna==2.6
ipython-genutils==0.2.0
jedi==0.12.0
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.2
opencv-python==3.4.0.12
parso==0.2.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
PyAudio==0.2.11
pyax12==0.5.dev3
pycparser==2.18
Pygments==2.2.0
pyparsing==2.2.0
pyqtgraph==0.10.0
pyserial==3.4
python-dateutil==2.7.3
pytz==2018.4
qtgui==0.0.1
requests==2.18.4
scipy==1.1.0
simplegeneric==0.8.1
sip==4.19.8
six==1.11.0
sounddevice==0.3.10
SoundFile==0.10.2
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
